<h1>Repozitorij scenarija učenja</h1>
<p>Ova aplikacija napravljena je na Odjelu za informatiku kao zadatak za diplomski rad.
    Cilj je bio kreirati aplikaciju u kojoj nastavnici mogu kreirat scenarije učenja te njihove
    pripadajuće aktivnosti te pregledavati scenarije učenja koji su ostali nastavnici kreirali.
</p>
<div class="row">
    <div class="col">
        <img src="assets/icons/matematika.png"><br />
        <a [routerLink]="['/scenarios', 1]">Matematika</a>
    </div>
    <div class="col">
        <img src="assets/icons/hrvatski.png"><br />
        <a [routerLink]="['/scenarios', 2]">Hrvatski jezik</a>
    </div>
    <div class="col">
        <img src="assets/icons/engleski.png"><br />
        <a [routerLink]="['/scenarios', 3]">Engleski jezik</a>
    </div>
    <div class="col">
        <img src="assets/icons/talijanski.png"><br />
        <a [routerLink]="['/scenarios', 4]">Talijanski jezik</a>
    </div>
    <div class="col">
        <img src="assets/icons/njemački.png"><br />
        <a [routerLink]="['/scenarios', 5]">Njemački jezik</a>
    </div>
    <div class="col">
        <img src="assets/icons/priroda.png"><br />
        <a [routerLink]="['/scenarios', 6]">Priroda i društvo</a>
    </div>
    <div class="col">
        <img src="assets/icons/informatika.png"><br />
        <a [routerLink]="['/scenarios', 7]">Informatika</a>
    </div>
    <div class="col">
        <img src="assets/icons/tjelesni.png"><br />
        <a [routerLink]="['/scenarios', 8]">Tjelesna i zdravstvena kultura</a>
    </div>
    <div class="col">
        <img src="assets/icons/likovni.png"><br />
        <a [routerLink]="['/scenarios', 9]">Likovna kultura</a>
    </div>
    <div class="col">
        <img src="assets/icons/glazbeni.png"><br />
        <a [routerLink]="['/scenarios', 10]">Glazbena kultura</a>
    </div>
    <div class="col">
        <img src="assets/icons/srz.png"><br />
        <a [routerLink]="['/scenarios', 11]">Sat razredne zajednice</a>
    </div>
</div>
<hr />
<footer class="footer">
    <div class="row">
        <div class="col"></div>
        <div class="col">
            Dorijan Fabijanić, 2020
        </div>
        <div class="col"></div>
    </div>
</footer>