<h1>Repozitorij kurikuluma</h1>
<p>Ova aplikacija napravljena je na Odjelu za informatiku kao zadatak za diplomski rad
    Cilj je bio kreirati aplikaciju u kojoj nastavnici mogu kreirat scenarije učenja te njihove
    pripadajuće aktivnosti te pregledavati scenarije učenja koji su ostali nastavnici kreirali.
</p>
<hr />
<p>Aplikaciju je kreirao</p>
<ul>
    <li>Dorijan Fabijanić</li>
    <li>Student 2. godine diplomskog studija Informacijski i komunikacijski sustavi</li>
    <li>Odjel za informatiku, Sveučilišta u Rijeci</li>
    <li>Prosinac, 2020. Rijeka</li>
</ul>
